body {
    background: #252626;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.header{
    padding: 2rem;
}
.yellow{
    color: #FFFCAE;
}
.greeny{
    color: #42D7A1;
}
.grey{
    color: #6B6B6B;
}
.name{
    font-family: 'Staatliches', cursive;
    color: #ffffff;
    font-size: 40px;
}
.aka{
    font-family: 'Rock Salt', cursive;
}
.nav-items{
    font-family: 'Concert One', cursive;
    font-size: 28px;
}
.namefont{
    font-family: 'Staatliches', cursive;
}
.mr-1{
    margin-right: 1.25rem !important;
}
a:hover{
    text-decoration: none !important;
}

/* Main */ 
.sub-text{
    color: rgba(255, 255, 255, 0.75);
}
.text-3xl{
    font-size: 1.86rem !important;
}
.text-5xl{
    font-size: 3.3rem !important;
}
.facemoji{
    width: 101px;
    height: 101px;
    margin-top: -54px;
}
.title{
    font-family: 'Concert One', cursive;
}
.skills{
    font-weight: bold;
    letter-spacing: 0.7em;
}
.orb {
    width: 50px;
    height: 50px;
    background: #999;
    border-radius: 50px;
    display: inline-block;
    margin: 0 24.7px;
    float: left;
    transition: all .2s ease-out;
  }
  
  .orb:hover {
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
  }
  .orb p{
    margin: 45px -13px;
  }
  
  .html {
      background:url('/img/html5.png');
      background-size: cover;
    }
  .css {
      background:url('/img/css.png');
      background-size: cover;
    }
    .tcss {
        background:url('https://www.drupal.org/files/styles/grid-3-2x/public/project-images/screenshot_361.png');
        background-size: cover;
      }
    .vuejs {
        background:url('/img/vuejs.png');
        background-size: cover;
      }
  .Javascript {
      background:url("/img/js.png");
      background-size: cover;
    }
  .reactjs {
    background:url("/img/reactjs.png");
    background-size: cover;
  }
  .python {
    background:url("https://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png");
    background-size: cover;
  }
  .bootstrap {
    background:url("/img/bootstrap.png");
    background-size: cover;
  }
  .green {background:green;}
  
  .marquee {
    height: 200px;
    width: 800px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }
.wizard{
  background: url('/img/wizard.png');
  background-size: cover;
}
.freshkey{
  background: url('/img/freshkey.png');
  background-size: cover;
}
.zerobyte{
  background: url('/img/zerobyte.png');
  background-size: cover;
}
.empiredzn{
  background: url('/img/empiredzn.png');
  background-size: cover;
}
.immortal{
  background: url('/img/immortal.png');
  background-size: cover;
}
@media (max-width:400px){
    .navbar{
        flex-direction: row;
    }
    .nav-items{
        font-size: 20px;
        justify-content: center;
        flex-direction: column !important;
    }
    .svg{
        margin-top: 1rem;
    }
}