@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-color: #1d1d1d;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
}
.input{
    background: #ffc107;
    border-radius: 7px;
    border: 0;
    margin: 7px 10px;
    font-weight: 700;
    text-align: center;
}